.candidate-carousel {
  overflow-x: scroll;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.candidate-carousel * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.candidate-carousel .carousel-el-container:first-child {
  margin-left: 2em;
}
.candidate-carousel .carousel-el-container:last-child {
  margin-right: 2em;
}

.candidate-carousel .carousel-el-container {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 200px;
  height: 227px;
  position: relative;
  background-color: var(--secondary-background-color);
  display: inline-block;
  background-size: contain !important;
}

.candidate-carousel .carousel-el-container,
.candidate-carousel .carousel-el-info-container,
.candidate-carousel .carousel-el-img {
  border-radius: 0.5em;
}

.candidate-carousel .carousel-el-info-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.13),
    rgba(0, 0, 0, 0.73)
  );
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0.5em;
}
.candidate-carousel .carousel-el-img {
  width: 100%;
}
.carousel-el-info-container > .candidate-name {
  font-weight: bold;
}
.carousel-el-info-container > .candidate-party {
  font-size: 0.9em;
}
