@import "../../theme/app.css";

.locale-selector-container {
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selector-dialog {
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
  background: var(--secondary-background-color);
  border-radius: 0.5em;
  padding: 2em;
  text-align: center;
}

.selector-dialog h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.selector-dialog p {
  margin-top: 0.5em;
  margin-bottom: 2em;
  max-width: 80%;
}

.selector-dialog-row {
  flex: 1;
  display: flex;
  justify-content: center;
}
.selector-dialog-spacer {
  width: 100%;
  height: 50px;
}

.selector-num {
  width: 1em;
  height: 1em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  font-size: 2em;
  font-weight: 600;
  background-color: var(--primary-foreground-color);
}

.locale-selector-select {
  background: var(--tertiary-background-color);
  border: 0;
  border-radius: 1.5em;
  color: var(--primary-text-color);
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.locale-selector-select:focus {
  outline: 0;
}

.locale-selector-country-flag-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 1em;
}
.locale-selector-country-flag {
  font-size: 3em;
}

.locale-selector-select-container {
  position: relative;
  flex: 1;
}

.locale-selector-logo-container {
  padding: 2em;
}
